@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS By: samantha orr /*

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

body {
  max-width: 350px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: var(--dark-gray);
  background: var(--white);
  margin: 0;
  padding: 0;
}

main {
  max-width: 350px;
  margin: auto;
  background: var(--white);
}

header {
  max-width: 350px;
  display: flex;
  background: linear-gradient(to bottom, var(--teal), var(--white));
  padding: 1rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
}

#logo img {
  display: flex;
  width: 120px;
  justify-content: flex-start;
  align-items: center;
}

header h1 {
  font-family: 'Molle', cursive;
  font-size: 2.5rem;
  color: var(--black);
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--dark-gray);
  width: 26ch;
  line-height: 1.4;
}

nav {
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

nav li {
  list-style: none;
}

nav a {
  font-weight: 600;
  color: var(--dark-gray);
}

nav h2 {
  display: none;
}

#skip {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
  transition: top 0.3s ease;
}

#skip:focus {
  top: 0;
  outline: 2px solid var(--purple);
}

#menu-toggle {
  width: 50%;
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  border-radius: 2px;
  text-align: center;
}

#menu-toggle label {
  max-width: 350px;
  display: block;
  text-align: center;
  background: var(--yellow);
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.90rem;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

#menu-toggle ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--teal);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

#menu-toggle ul li {
  border-bottom: 1px solid var(--black);
}

#menu-toggle ul li a {
  display: block;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  color: var(--dark-gray);
  background-color: var(--teal);
  text-decoration: none;
}

#toggle,
#toggle + label + ul {
  display: none;
}

#toggle:checked + label + ul {
  display: flex;
}

#intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  text-align: left;
  line-height: 2;
  max-width: 33ch;
  margin-left: 1.5rem;
}

#intro h2 {
  font-family: 'Molle', cursive;
  font-size: 2rem;
  margin-left: 1.5rem;
  font-weight: bold;
}

#img-grid {
  display: block;
  max-width: 350px;
  margin: auto;
  object-position: center;
}

#img-grid img {
  width: 350px;
  margin-bottom: 1rem;
}

#plan {
  background-color: var(--yellow);
  padding: 2rem 2rem;
  text-align: center;
}

#plan h3 {
  font-family: 'Molle', cursive;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  color: var(--black);
}

#plan section {
  background-color: var(--teal);
  border: 2px solid var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  width: 250px;
  height: 220px;
}

#plan h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 1rem;
}

#plan img {
  width: 70%;
  height: 70%;
}

#testimonials h3 {
  font-family: 'Molle', cursive;
  font-size: 2.2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
}

#testimonials h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

#testimonials div {
  gap: 2rem;
  text-align: center;
}

#testimonials img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

#testimonials p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

#testimonials q {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1rem;
  max-width: 22ch;
  text-align: center;
  line-height: 1.2;
}

#testimonials q::before{
  content: '"';
}

#testimonials q::after {
  content: '"';
}

#about div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: var(--blue);
}

#about h3 {
  font-family: 'Molle', cursive;
  font-size: 2rem;
  background: var(--blue);
  margin-top: 1.5rem;
}

#about h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

#about img {
  width: 100px;
  height: 80px;
}

#contact {
  margin: auto;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

#contact h3 {
  font-family: 'Molle', cursive;
  font-size: 2.1rem;
  color: var(--black);
  text-align: left;
}

#contact label,
#contact legend {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

#contact input,
#contact select {
  width: 100%;
  max-width: 350px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--purple);
  border-radius: 2px;
  margin-top: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.required {
  color: var(--purple);
}

#contact {
  max-width: 350px;
}

#contact fieldset {
  margin-top: 1rem;
  border: none;
}

#contact span {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
}

#contact .radio-label {
  display: flex;
  justify-content: left;
}

#contact input[type="radio"] {
  display: flex;
  justify-content: center;
  transform: scale(1.1);
  accent-color: var(--purple);
  margin-left: 1.5rem;
  cursor: pointer;
}

input[type="submit"] {
  background: var(--purple);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  margin-top: 1.5rem;
  cursor: pointer;
}

footer {
  max-width: 350px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 2rem 1rem;
  background: var(--light-gray);
  color: var(--black);
}

footer a {
  display: block;
  color: var(--black);
  text-decoration: none;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
body, header, main, footer {
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 2rem;
  gap: 0.5rem;
  padding-left: 0;
  background: linear-gradient(to bottom, var(--teal), var(--white));
}

header h1 {
  font-family: 'Molle', cursive;
  font-size: 2.5rem;
  color: var(--black);
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--dark-gray);
  width: 26ch;
  line-height: 1.4;
}

#menu-toggle ul li {
  border-bottom: none;
}

#menu-toggle label {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

#logo img {
  display: flex;
  width: 180px;
  justify-content: flex-start;
  align-items: center;
}

#intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: left;
  line-height: 1.8;
  max-width: 57ch;
  margin-left: 2rem;
}

#intro h2 {
  font-family: 'Molle', cursive;
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: bold;
}

#img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}

#plan div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#plan h3 {
  text-align: left;
}

#testimonials div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about div {
  max-width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); 
  gap: 1.5rem;
  justify-content: center; 
  align-items: center; 
}

#contact {
  max-width: 800px;
  padding: 2rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#contact form {
  max-width: 800px;
}

#contact textarea {
  max-width: 800px;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: border-box;
}

#contact input,
#contact select {
  max-width: 800px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--purple);
  border-radius: 2px;
  margin-top: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

#contact .radio-input label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

#contact .radio-input {
  max-width: 800px;
  display: flex;
  width: 800px;
  justify-content: center;
  gap: 0;
}

#contact input[type="radio"] {
  display: flex;
  align-items: center;
  transform: scale(1.5);
  accent-color: var(--purple);
  gap: 0.5rem;
  cursor: pointer;
}

footer {
  max-width: 800px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

footer a {
  display: inline-block;
  margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
body, header, main, footer {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3.5rem 2rem;
  gap: 1rem;
  padding-left: 0;
  background: linear-gradient(to bottom, var(--teal), var(--white));
}

header h1 {
  font-family: 'Molle', cursive;
  font-size: 2.5rem;
  color: var(--black);
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--dark-gray);
  width: 26ch;
  line-height: 1.4;
}

#logo img {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#menu-toggle label {
  display: none;
}

#menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: var(--white);
}

#menu-toggle ul {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  background: var(--white);
  gap: 1rem;
}

#menu-toggle ul li a {
  display: block;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  text-align: center;
}

#menu-toggle ul li a:hover,
#menu-toggle ul li a:focus {
  background-color: var(--yellow);
  color: var(--black);
}

#intro h2 {
  font-family: 'Molle', cursive;
  font-size: 2rem;
  margin-left: 1.5rem;
  font-weight: bold;
}

#intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.90rem;
  text-align: left;
  line-height: 1.7;
  max-width: 48ch;
  margin-left: 1.5rem;
}

#img-grid img {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.5rem;
  max-width: 500px;
}

#plan div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: auto;
  padding: 1rem;
  box-sizing: border-box;
}

#plan h4 {
  font-size: 1.4rem;
}

#plan img {
  width: 65%;
  height: 55%;
}

#testimonials {
  flex: 0 0 auto;
  text-align: center;
  width: 1200px;
}

#testimonials div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: auto;
  padding: 2rem;
  box-sizing: border-box;
}

#testimonials h4 {
  font-weight: 500;
}

#testimonials p {
  font-size: 1rem;
}

#testimonials q {
  font-size: 1rem;
}

#about div {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  overflow-x: auto;
  padding: 3rem;
}

#about img {
  width: 120px;
  height: 100px;
}

#about h3 {
  font-size: 1.6rem;
  text-align: left;
  padding: 3rem;
}

#contact {
  padding: 3rem 2rem;
}

#contact input,
#contact select {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

footer a {
  display: inline-block;
  margin-top: 0;
  }
}
